<section class="login">
  <div class="login__main">
    <div class="login__main-header">
      <h4>Entre com o usuario e Senha</h4>
    </div>
    <div class="login__main-body">
      <form [formGroup]="formulario" (ngSubmit)="logar()">
        <input formControlName="nome" placeholder="Nome" />
        <input formControlName="senha" placeholder="Senha" />
        <button pButton type="submit" [disabled]="!formulario.valid">
          <i class="pi pi-check" pButtonIcon></i>
          <span pButtonLabel>Logar</span>
        </button>
      </form>
    </div>
    <div class="login__main-footer">
      @if (eInvalido) {
        <p>Usuario ou senha errados.</p>
      }
    </div>
  </div>
</section>
